body {
    background-color: #76a0c7;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #2244db;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}